.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
  background-color: aliceblue;
}

.main {
  color: black;
}

.userInfoContainer {
  /* background-color: aqua; */
  align-self: last baseline;
}


.topSection {
  /* background-color: aqua; */
  /* align-items: center; */
  text-align: center;
}

.topSection h1 {
  font-size: 30px;
}

.countText {
  font-size: 120px !important;
}